<div class="grey2"></div>

<div id="header">
    <div class="container">
        <div class="row">
            <div class="grey"></div>
            <a class="col-xs-3 logo pull-left" href="index.html">
              <%= image_tag('common/logo.png') %>
              <%= image_tag('common/logo_small.png', class: 'logo-small') %>
            </a>
            <div class="col-xs-9 pull-left">
                <div class="col-xs-6 pull-left">
                    <span class="icon icon-search"></span>
                    <input type="text" placeholder="Search..."/>
                </div>
                <div class="col-xs-3 avatar pull-right">
                  <a href="stats.html">
                    <div class="mask"></div>
                    <%= image_tag('common/guest_image.png') %>
                  </a>
                    <strong>Welcome Guest!</strong>
                    <a href="#signup">Sing Up</a> or
                    <a href="#register">Register</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="main-menu" class="small">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>